<% provide(:title, 'Create New Whale') %>
<h1>Create New Whale</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@whale, :url=>user_pod_whales_path(@user, @pod)) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label(:owned, "This is owned") %>
        <%= f.check_box(:owned) %>
        </br>
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>

        <%= f.file_field :photo %>

        <%= f.submit "Create this whale", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>



