<% provide(:title, 'All users') %>
<h1>Search</h1>

<%= form_tag :controller => 'search', :action=> 'search', :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<h2>Users:</h2>
<ul class="users">
  <li>
    <%= render @userslist %>
  </li>
</ul>
<h2>Pods:</h2>
<ul class="pods">
  <li>
    <%= render @podslist %>
  </li>
</ul>
<h2>Whales:</h2>
<ul class="whales">
  <li>
    <%= render @whaleslist %>
  </li>
</ul>