<div class="push-down160 container">
      <% provide(:title, "Edit user") %>
    <p class="lead-title text-center text-capitalize addbottom40">Update your profile</p>

    <div class="row clearfix">
      <div class="col-md-8 center text-capitalize">
        <%= form_for @user, :html => { :multipart => true } do |f| %>
          <%= render 'shared/error_messages' %>

          <%= f.label :name %>
          <%= f.text_field :name, :placeholder => "Name", class: 'form-control' %>

          <%= f.label :email %>
          <%= f.email_field :email, :placeholder => "Email", class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, :placeholder => "Password", class: 'form-control' %>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, :placeholder => "Confirmation",class: 'form-control' %>

          <%= f.file_field :photo %>

          <%= f.submit "Save changes", class: "btn btn-default" %>

        <% end %>

        <p>

        </p>
      </div>
    </div>
</div>