<!--<h1>UserPages#profile</h1>
<p>Find me in app/views/user_pages/profile.html.erb</p>-->
<!--********PROFILE PAGE********-->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<div class="container">
  <div id="profile-container" class="row clearfix">
    <div class="col-md-12 h4" id="profile-left">
      <div class="row clearfix" id="profile-photo">
        <div class="card hovercard">
          <div class="cardheader">
            <h1><%= @user.name %>'s Ocean</h1>
          </div>
          <div class="avatar">
            <%= image_tag @user.photo.url(:medium) %>
            <div class="info">
              <div class="title">
                <a href="http://scripteden.com/"><%=@user.name%></a>
              </div>
                <div class="desc">[LOC-ICON] LOCATION</div>
                <div class="desc">[RNK-ICON] RANK</div>
                <div class="desc">[DSC-ICON] DESCRIPTION</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if current_user?(User.find(params[:id])) %>
      <div class="row clearfix text-center">
        <%=  link_to "Create A Pod", new_user_pod_path(@user.id), class: "btn btn-lg btn-primary col-xs-6 center"%>
      </div>
  <% end %>
  <% if @user.pods.any? %>
      <h3 class="lead"><%= @user.name%> has <%= @user.pods.count %> pods</h3>
      <div id="set-container" class="row clearfix text-center big_Arrows push-down20">
        <div id="pod-preview" class="">
          <div class="row clearfix">
            <ol class="pods">
              <%= render @pods %>
            </ol>
            <%= will_paginate @pods %>
  <% end %>
  </div>
  <div class="user_info row clearfix">
    <!--<= render 'shared/user_info' > -->
  </div>
  </div>
  <!--<div class="col-md-8" class="set-right">
      <div class="row clearfix">
        <span class="col-md-2"><a href="#"><p class ="icon-angle-left"> </p></a></span>
        <div class="col-md-8"><%#= @user.pods.name %></div>
        <span class="col-md-2"><a href="#"><p class ="icon-angle-right"> </p></a></span>
      </div>
      <div class="row clearfix small_Arrows">
        <span class="col-md-3"><a href="#"><p class ="icon-angle-left"> </p></a></span>
        <div class="col-md-3"> <a href="#"> <p class="icon-google-circles"> </p> </a> </div>
        <div class="col-md-3"> <a href="#"> <p class="icon-eye"> </p> </a> </div>
        <span class="col-md-3"> <a href="#"> <p class ="icon-angle-right"> </p></a></span>
      </div>
    </div>-->
  <!--<div class="col-md-1" id="set-social-share">Vertical Floating Social Network</div>-->
  </div>
  <div id="view-set-container" class="row clearfix">
    <div id="view-set-results" class="col-md-10 text-center">
      <!-- Should dynamically add rows in multiples of 4-->
      <!-- should not be visible if max number of items is reached-->
      <div class="row clearfix"><button>Load more</button></div>
    </div>
    <div id="view-controls" class="col-md-2 text-center">
      <span class="row clearfix"><a href="#"><p class ="icon-star"> </p></a></span>
      <span class="row clearfix"><a href="#"><p class ="icon-google-circles"> </p></a></span>
      <span class="row clearfix"><a href="#"><p class ="icon-heart"> </p></a></span>
    </div>
  </div>
</div>
<!----********/ PROFILE PAGE********----->
