<!--<h1>UserPages#profile</h1>
<p>Find me in app/views/user_pages/profile.html.erb</p>-->
<!--********PROFILE PAGE********-->
<div class="container-fluid">
  <div id="profile-container" class="row clearfix">
    <div class="col-md-12" id="profile-left">
      <div class="row clearfix" id="profile-photo">
        <div class="card hovercard">
          <div class="cardheader">
            <h1><%= @user.name %>'s Ocean</h1>
          </div>
          <div class="container clearfix profile-section">
            <div class="col-sm-3">
                <%= image_tag @user.photo.url(:medium) %>
                <div class="userinfo">
                  <div class="title">
                    <%=@user.name%>
                  </div>
                    <div class="desc">[LOC-ICON] LOCATION</div>
                    <div class="desc">[RNK-ICON] RANK</div>
                    <div class="desc">[DSC-ICON] DESCRIPTION</div>
                </div>
            </div>
            <div class="col-sm-9">
              <% if current_user?(User.find(params[:id])) %>
                  <div class="row clearfix text-center height250">
                    <div class="center-v-parent">
                      <div class="bottom-v">
                        <%=  link_to "Create A Pod", new_user_pod_path(@user.id), class: "btn btn-xl btn-primary col-xs-8 center"%>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @user.pods.any? %>
      <h3 class="lead text-center"><%= @user.name%> has <%= @user.pods.count %> pods</h3>
      <div id="pod-container" class="clearfix text-center addbottom60">
        <div id="pod-preview" class="col-md-11 center text-center">
            <ol class="pods">
              <%= render @pods %>
            </ol>
            <%= will_paginate @pods %>
        </div>
      </div>
  <% end %>

  <!--<div class="col-md-8" class="pod-right">
      <div class="row clearfix">
        <span class="col-md-2"><a href="#"><p class ="icon-angle-left"> </p></a></span>
        <div class="col-md-8"><%#= @user.pods.name %></div>
        <span class="col-md-2"><a href="#"><p class ="icon-angle-right"> </p></a></span>
      </div>
      <div class="row clearfix small_Arrows">
        <span class="col-md-3"><a href="#"><p class ="icon-angle-left"> </p></a></span>
        <div class="col-md-3"> <a href="#"> <p class="icon-google-circles"> </p> </a> </div>
        <div class="col-md-3"> <a href="#"> <p class="icon-eye"> </p> </a> </div>
        <span class="col-md-3"> <a href="#"> <p class ="icon-angle-right"> </p></a></span>
      </div>
    </div>-->
  <!--<div class="col-md-1" id="pod-social-share">Vertical Floating Social Network</div>-->

  <!--<div class="container">

    <div id="view-controls" class="col-md-2 text-center">
      <span class="row clearfix"><a href="#"><p class ="icon-star"> </p></a></span>
      <span class="row clearfix"><a href="#"><p class ="icon-google-circles"> </p></a></span>
      <span class="row clearfix"><a href="#"><p class ="icon-heart"> </p></a></span>
    </div>
  </div>-->
</div>
<!----********/ PROFILE PAGE********----->
