<div class="push-down160 container">
      <% provide(:title, "Edit pod") %>
    <p class="lead-title text-center text-capitalize addbottom40">Update your pod</p>

    <div class="row clearfix">
      <div class="col-md-8 center text-capitalize">
        <%= form_for(@pod, :url=>user_pods_path(@user)) do |f| %>
          <%#= render 'shared/error_messages' %> 

           <%= f.label :name %>
          <%= f.text_field :name, :placeholder => "Description", class: 'form-control' %>
          
          <%= f.label :description %>
          <%= f.text_field :description, :placeholder => "Description", class: 'form-control' %>
          
          <%= f.label :tags %>
          <%= f.text_field :tag_list, :placeholder => "Description", class: 'form-control' %>

          <%= f.file_field :photo %>

          <%= f.submit "Save changes", class: "btn btn-default" %>

        <% end %>

        <p>

        </p>
      </div>
    </div>
</div>
