<!--
    Author: whitewhale
    File: new.html.erb
    -------------------
    form used to create a new  pod
  --> 
<div class="container">
  <% provide(:title, 'Create New Pod') %>
  <h1>Create New Whale Pod</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@pod, :url=>user_pods_path(@user)) do |f| %>
      <%#= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
      
      <%= f.label :tags %>
      <%= f.text_field :tag_list, :placeholder => "Description", class: 'form-control' %>

      <%= f.file_field :photo %>
      
      <%= f.submit "Create this pod", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
