<!--********POD PAGE********-->

<div class="container-fluid addbottom60">
  <!--Header Section-->
  <div class="row clearfix addbottom40">
    <div id="pod-container" class="height300">
      <div class="absolute-image perfect-image blur" style="background-image: url(<%= @pod.photo.url%>)"></div>
      <div class="overlay"></div>
      <div id="pod-name" class="center text-center main-title">
        <h1><%=@pod.name%> </h1>
        <p class="lead"><%=@pod.description%> </p>
        <p class="text-small">This Pod Belongs to <%=@user.name%> </p>
      </div>
    </div>
  </div>

  <!--Button Sections-->
  <% if current_user?(User.find(params[:user_id])) %>
  <div class="row clearfix addbottom40">
    <div class="col-md-9 center text-center">

      <div class="btn-group btn-group-justified pod-menu text-uppercase addbottom40" role="group" aria-label="">
        <div class="btn-group" role="group">
          <%=  link_to "Edit POD", edit_user_pod_path(@user.id,@pod.id) ,{class: "btn btn-xl btn-primary icon-", type: "button"}%>
        </div>
        <div class="btn-group" role="group">
          <!-- Need to add a class and this type to this and not sure how ??  {class: "btn btn-xl btn-primary icon-google-circles", type: "button"} -->
          <%= link_to "Fork", {:controller => 'users', :action => 'fork',
                               :thisPod => @pod.id}, {:method => :post , :class => "btn btn-xl btn-primary icon-google-circles", :type => "button"}%>
        </div>
        <div class="btn-group" role="group">
          <%= link_to "Delete Pod", user_pod_path(@user.id,@pod.id) , method: :delete,
                      data: { confirm: "You sure?" } , class: "btn btn-xl btn-primary icon-", type: "button"%>
        </div>
      </div>
      <div>
            <section class="pods_form">
              <%=  link_to "Create A Whale", new_user_pod_whale_path(@user.id,@pod.id), class: "btn btn-xl btn-primary col-xs-12 text-uppercase center icon-"%>
            </section>
      </div>

    </div>
  </div>
  <% end %>



  <!--Whales Sections-->
  <div class="row clearfix">
    <div id="whale-preview" class="container text-center">
        <!--Whales Rendered Here  -->
        <% @pod.whales.any? %>
        <% if @pod.whales.any? %>
            <div class="btn-group" role="group">
      <!--<div class = "btn btn-primary icon-google-circles", type = "button">
        <%#= link_to "Fork", {:controller => 'users', :action => 'fork',
         :thisPod => @pod.id}, {:method => :post }%>
      </div>-->
    </div>
          <h3 class="lead text-center"><%=@pod.name%> has <%=@pod.whales.count %> whales in it</h3>
            <ol class="whales">
              <%= render @pod.whales %>
            </ol>
            <%= will_paginate @whales %>
        <% end %>
    </div>
  </div>

</div>
<!----********/ POD PAGE********----->
