  <!--<h1>UserPages#profile</h1>
<p>Pods pages </p>-->
<!--********PROFILE PAGE********-->
<div class="container push-down200">
    <div id="profile-container" class="row clearfix">
      <div class="col-md-4 h4" id="profile-left">
        <div class="row clearfix" id="profile-photo">
          <a href="#">
            <%= image_tag @pod.photo.url%> 
          </a>
        </div>
        <div class="row clearfix">[LOC-ICON] LOCATION</div>
        <div class="row clearfix"><a href="#">[RNK-ICON] RANK</a></div>
        <div class="row clearfix">[DSC-ICON] DESCRIPTION</div>
      </div>
      <div class="col-md-8" id="profile-right">
        <div id="profile-name"><h1><%=@pod.name%> </h1></div>
        <div id="bullshit"><h1><%=@pod.description%> </h1></div>
        <div id="bullshit"><h1>This Pod Belongs to User <%=@user.name%> </h1></div>
      </div>
    </div>
    <div id="set-container" class="row clearfix text-center">
      <div class="col-md-4" id="set-photo" class="set-left"><a href="#"><img src="/img/placeholder.png"/></a></div>
      <div class="col-md-7" class="set-right">
        <div class="row clearfix">
          <span class="col-md-2"><a href="#"><p class ="icon-angle-left"> </p></a></span>
          <div class="col-md-8">PODNAME(same as SetName) Goes Here</div>
          <span class="col-md-2"><a href="#"><p class ="icon-angle-right"> </p></a></span>
        </div>

        <section class="pods_form">
              <%=  link_to "Create A Whale", new_user_pod_whale_path(@user.id,@pod.id), class: "btn btn-lg btn-primary"%>
            </section>

        <div id="pod-preview" class="row clearfix">
          <div clas="row clearfix">
            <span class="col-md-3"><a href="#">Object1<img src="/img/placeholder.png"/></a></span>
            <span class="col-md-3"><a href="#">Object2<img src="/img/placeholder.png"/></a></span>
            <span class="col-md-3"><a href="#">Object3<img src="/img/placeholder.png"/></a></span>
            <span class="col-md-3"><a href="#">Object4<img src="/img/placeholder.png"/></a></span>
          </div>
          <div clas="row clearfix">
            <span class="col-md-3"><a href="#">Object5<img src="/img/placeholder.png"/></a></span>
            <span class="col-md-3"><a href="#">Object6<img src="/img/placeholder.png"/></a></span>
            <span class="col-md-3"><a href="#">Object7<img src="/img/placeholder.png"/></a></span>
            <span class="col-md-3"><a href="#">Object8<img src="/img/placeholder.png"/></a></span>
          </div>
          <div clas="row clearfix">
            <span class="col-md-3"><a href="#">Object9<img src="/img/placeholder.png"/></a></span>
            <span class="col-md-3"><a href="#">Object10<img src="/img/placeholder.png"/></a></span>
            <span class="col-md-3"><a href="#">Object11<img src="/img/placeholder.png"/></a></span>
            <span class="col-md-3"><a href="#">Object12<img src="/img/placeholder.png"/></a></span>
          </div>
        </div>

        <div class="row clearfix">
          <span class="col-md-3"><a href="#"><p class ="icon-angle-left"> </p></a></span>
          <div class="col-md-3"><%= button_to "Fork", method: :fork %></div>
          <div class="col-md-3"><button>VIEW</button></div>
          <span class="col-md-3"><a href="#"><p class ="icon-angle-right"> </p></a></span>
        </div>
      </div>
      <div class="col-md-1" id="set-social-share">Vertical Floating Social Network</div>
    </div>
    <div id="view-set-container" class="row clearfix">
      <div id="view-set-results" class="col-md-10 text-center">
        <!-- Should dynamically add rows in multiples of 4-->
        <div class="row clearfix">
          <span class="col-md-3"><a href="#">item1<img src="/img/placeholder.png"/></a></span>
          <span class="col-md-3"><a href="#">item2<img src="/img/placeholder.png"/></a></span>
          <span class="col-md-3"><a href="#">item3<img src="/img/placeholder.png"/></a></span>
          <span class="col-md-3"><a href="#">item4<img src="/img/placeholder.png"/></a></span>
        </div>
        <!-- should not be visible if max number of items is reached-->
        <div class="row clearfix"><button>LOAD MORE BTN</button></div>
      </div>
      <div id="view-controls" class="col-md-2 text-center">
        <span class="row clearfix"><a href="#">RANK SET</a></span>
        <span class="row clearfix"><a href="#">FORK SET</a></span>
        <span class="row clearfix"><a href="#">ADD TO WISHLIST</a></span>
      </div>
    </div>
</div>
<!----********/ PROFILE PAGE********----->
