<div id="main-nav" class="navbar-wrapper">
  <div class="navbar navbar-inverse navbar-static-top navbar-fixed-top container-fluid">
    <div class="container">
      <div class="navbar-header col-md-2">
        <% if logged_in? %>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <% end %>
        <a class="navbar-brand" href="/"> <img class="Beta-logo" src="/assets/BETA.png"> </a>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <%= form_tag :controller => 'search', :action=> 'search', :method => 'get', :id => "header-search", class: "row clearfix" do  %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], :id=> "header-search-input", class: "search-query form-control", placeholder: "Search Items and Collections" %>
            <span class="input-group-btn">
              <%= button_tag(type: "submit", :name => nil, class: "btn", :id => "header-search-submit") do%>
              <span class="icon-search"></span>
              <% end %>
            </span>
          </div>
        <% end %>
        <div class="row navbar-collapse collapse clearfix menu">
          <ul class="nav nav-justified nav-pills">
            <% if logged_in? %>
            <li><a href="#"> <p class ="menu-icons icon-collection"> </p> <div class="row clearfix text"> PODS </div> </a></li>
            <li><a href="#"> <p class ="menu-icons icon-icon-sets"> </p> <div class="row clearfix text"> WHALES </div> </a></li>
            <li><a href="#"> <p class ="menu-icons icon-icon-trending"> </p> <div class="row clearfix text"> TRENDING </div> </a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-xs-12 pull-right text-right logins">

          <% if logged_in? %>
          <div class="col-md-6 col-xs-12">
          <%= link_to "MyProfile", current_user, :class=> "icon-user col-xs-3 col-md-12"%>
          <%= link_to "MySettings", edit_user_path(current_user), :method => "get", :class=> "icon-cog col-xs-3 col-md-12" %>
          <%= link_to "AllUsers", users_path, :class=> "icon-user col-xs-3 col-md-12"%>
          <%= link_to "LogOut", logout_path, method: "delete", :class=> "icon-logout col-xs-3 col-md-12" %>


          <% else %>
          <div class="col-md-6 col-xs-6 text-center">
          <a href="#" id="top-right-login" data-toggle="modal" data-target="#Login-Modal"> <p class="icon-login login-icons"> LOGIN </p> </a>
          <% end %>
        </div>
        <div class="col-md-6 col-xs-6 text-center" id="profile">
          <% if logged_in? %>
          <div class="clearfix" id="profile-photo">
            <!--Set the background image url to be dynamic for the current user-->
            <%= link_to image_tag(current_user.photo.url(:thumb)), (current_user) , {:class=>"header-profile-photo"} %>
            <!--image_path(current_user.photo.url(:thumb))-->
          </div>
          <% else %>
          <a href="#" id="top-right-signup" href="#" data-toggle="modal" data-target="#Signup-Modal"> <p class="icon-opentable login-icons"> SIGNUP </p> </a>
          <% end %>
        </div>
        <!--Once user is logged in to display-->
        <!--<div id="top-right-logged-in">
          <!--<div id="top-right" class="row">
            <div class="col-md-6"><a href="#">ICON1</a></div>
            <div class="col-md-6"><a href="#">ICON2</a></div>
          </div>
          <div class="row">
            <div class="col-md-6"><a href="#">ICON3</a></div>
            <div class="col-md-6"><a href="#">ICON4</a></div>
          </div>
        </div>-->
      </div>
    </div><!-- /container -->
  </div>
</div><!-- /navbar wrapper -->
